<!-- 
		    - #FOOTER
		  -->

<footer class="footer">
	<div class="container">

		<p class="copyright">
			&copy; 2022 All Rights Reserved by
			<a href="#" class="copyright-link">Dekhil Omran</a>
		</p>

	</div>
</footer>
