<!-- 
			    - #HEADER
			  -->

<header class="header" data-header>
	<div class="container">

		<a href="#" class="logo">La Créa</a>

		<nav class="navbar container" data-navbar>
			<ul class="navbar-list">

				<li>
					<a href="#home" class="navbar-link" data-nav-link>Home</a>
				</li>

				<li>
					<a href="#service" class="navbar-link" data-nav-link>Services</a>
				</li>

				<li>
					<a href="#project" class="navbar-link" data-nav-link>Project</a>
				</li>

				<li>
					<a href="#about" class="navbar-link" data-nav-link>About Us</a>
				</li>

				<li>
					<a href="#blog" class="navbar-link" data-nav-link>Blog</a>
				</li>

				<li>
					<a href="#contact" class="navbar-link" data-nav-link>Contact Us</a>
				</li>

				<li>
					<a href="#" class="btn btn-primary">Get Started</a>
				</li>

			</ul>
		</nav>

		<button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
			<img src="{{ asset("./assets/images/menu-icon.png") }}" width="45" class="open" alt="">
			<img src="{{ asset("./assets/images/menu-close-icon.png") }}" width="45" class="close" alt="">
		</button>

	</div>
</header>
