<section class="section blog" id="blog" aria-label="blog">
	<div class="container">

		<h2 class="h2 section-title">Latest Articles Updated Weekly</h2>

		<p class="section-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
																																																																																																																																																																																																																																																																																																																																																																																																																																																																														            dolore magna
																																																																																																																																																																																																																																																																																																																																																																																																																																																																														            aliqua.
		</p>

		<ul class="grid-list">


			{% for blogpost in blogposts %}

				<li>
					<div class="blog-card {{ blogpost.location == 0 ? 'grid': '' }}">

						<figure class="card-banner img-holder" style="--width: 860; --height: 646;">
							<img src="./assets/images/blog-1.jpg" width="860" height="646" loading="lazy" alt="How to Become a Successful Entry Level UX Designer" class="img-cover">
						</figure>

						<div class="card-content">

							<time class="time" datetime="2022-06-16">{{blogpost.createdAt()|date("F jS \\a\\t g:ia")}}</time>

							<h3 class="h3">
								<a href="#" class="card-title">{{ blogpost.title }}
									| you can visit it for more details</a>
							</h3>

						</div>

					</div>
				</li>

			{% endfor %}


		</ul>

	</div>
</section>
