<section class="section hero" id="home" aria-label="hero">
	<div class="container">

		<div class="hero-content">

			<p class="hero-subtitle animate__animated animate__lightSpeedInLeft">La Créa Branding Agency</p>

			<h1 class="h1 hero-title animate__animated animate__lightSpeedInLeft animate__delay-1s">We are available for marketing</h1>

			<p class="hero-text animate__animated animate__lightSpeedInLeft animate__delay-2s">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporthem incididunt ut labore et																																																																																																																																																																																																																																																																																				              aliqua.
			</p>

			<a href="#" class="btn btn-primary animate__animated animate__bounceIn animate__delay-3s">Get Started</a>

		</div>

		<figure class="hero-banner">
			<img src="./assets/images/hero-banner.png" width="720" height="673" alt="hero banner" class="w-100 animate__animated animate__lightSpeedInRight">
		</figure>

	</div>
</section>
