<section class="section service" id="service" aria-label="service">
	<div class="container">

		<h2 class="h2 section-title">Services We Provided</h2>

		<p class="section-text">
			Notre Agence web Tunisie créative planifie votre projet digital jusqu’à sa réalisation. Nous mettons tout en œuvre pour développer votre notoriété et améliorer la visibilité de vos produits et services. Nous vous proposons des solutions digitales pour vous aider à mieux travailler, mieux communiquer et mieux vendre..

		</p>

		<ul class="grid-list">

			<li>
				<div class="service-card">

					<div class="card-icon" style="background-color: #13c4a1">
						<ion-icon name="chatbox"></ion-icon>
					</div>

					<h3 class="h3">
						<a href="#" class="card-title">
							Design & Développement Web
						</a>
					</h3>

					<p class="card-text">
						La créa vous accompagne aussi dans vos projets web de la conception jusqu’a la mise en ligne.
					</p>
				</div>
			</li>

			<li>
				<div class="service-card">

					<div class="card-icon" style="background-color: #6610f2">
						<ion-icon name="desktop"></ion-icon>
					</div>

					<h3 class="h3">
						<a href="#" class="card-title">Social Media & E-réputation
						</a>
					</h3>

					<p class="card-text">
						Nous optimisons votre présence digitale afin d'atteindre vos objectifs mais aussi de veiller à votre e-réputation.
					</p>

				</div>
			</li>

			<li>
				<div class="service-card">

					<div class="card-icon" style="background-color: #ffb700">
						<ion-icon name="bulb"></ion-icon>
					</div>

					<h3 class="h3">
						<a href="#" class="card-title">Publicités digitales</a>
					</h3>

					<p class="card-text">
						Notre équipe s’assure en effet de mettre en place les formats publicitaire les plus plébiscités et vous générer des résultats impactant.

					</p>

				</div>
			</li>

			<li>
				<div class="service-card">

					<div class="card-icon" style="background-color: #fc3549">
						<ion-icon name="phone-portrait"></ion-icon>
					</div>

					<h3 class="h3">
						<a href="#" class="card-title">Branding</a>
					</h3>

					<p class="card-text">
						Notre équipe vous accompagne dans le choix et la réalisation de vos supports de communication visuelle (plaquettes commerciales, logos, cartes de visite..)
					</p>

				</div>
			</li>

			<li>
				<div class="service-card">

					<div class="card-icon" style="background-color: #00d280">
						<ion-icon name="archive"></ion-icon>
					</div>

					<h3 class="h3">
						<a href="#" class="card-title">Email Marketing</a>
					</h3>

					<p class="card-text">
						Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                  aperiam, eaque
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                  ipsa quae.
					</p>

				</div>
			</li>

			<li>
				<div class="service-card">

					<div class="card-icon" style="background-color: #ff612f">
						<ion-icon name="build"></ion-icon>
					</div>

					<h3 class="h3">
						<a href="#" class="card-title">Marketing & Reporting</a>
					</h3>

					<p class="card-text">
						Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                  aperiam, eaque
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												                  ipsa quae.
					</p>

				</div>
			</li>

		</ul>

	</div>
</section>
