<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}la créa
			{% endblock %}
		</title>
		<link rel="shortcut icon" href="{{ asset("./assets/images/favicon.svg") }}" type="image/svg+xml">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	</head>
	<body id="top">
		{% include "./_partials/_nanbar.html.twig" %}
		{% block body %}{% endblock %}
		{% include "./_partials/_footer.html.twig" %}
		<!-- - custom js link -->
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</body>
</html>
